# __1 DATA INGESTION__

Lo primero que haremos será importar y guardar el dataset

In [20]:
import pandas as pd
data = '../data/raw/crimedataorig.csv'
dataframe = pd.read_csv(data)
print(dataframe.head(5))

       DR_NO               Date Rptd                DATE OCC  TIME OCC  AREA  \
0   10304468  01/08/2020 12:00:00 AM  01/08/2020 12:00:00 AM      2230     3
1  190101086  01/02/2020 12:00:00 AM  01/01/2020 12:00:00 AM       330     1
2  200110444  04/14/2020 12:00:00 AM  02/13/2020 12:00:00 AM      1200     1
3  191501505  01/01/2020 12:00:00 AM  01/01/2020 12:00:00 AM      1730    15
4  191921269  01/01/2020 12:00:00 AM  01/01/2020 12:00:00 AM       415    19

     AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0    Southwest          377         2     624
1      Central          163         2     624
2      Central          155         2     845
3  N Hollywood         1543         2     745
4      Mission         1998         2     740

                                         Crm Cd Desc  ... Status  \
0                           BATTERY - SIMPLE ASSAULT  ...     AO
1                           BATTERY - SIMPLE ASSAULT  ...     IC
2          SEX OFFENDER REGISTRANT OUT OF COMPLIANCE  ...     AA
3           VANDALISM - MISDEAMEANOR ($399 OR UNDER)  ...     IC
4  VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...  ...     IC

    Status Desc Crm Cd 1 Crm Cd 2  Crm Cd 3 Crm Cd 4  \
0   Adult Other    624.0      NaN       NaN      NaN
1   Invest Cont    624.0      NaN       NaN      NaN
2  Adult Arrest    845.0      NaN       NaN      NaN
3   Invest Cont    745.0    998.0       NaN      NaN
4   Invest Cont    740.0      NaN       NaN      NaN

                                   LOCATION Cross Street      LAT       LON
0   1100 W  39TH                         PL          NaN  34.0141 -118.2978
1    700 S  HILL                         ST          NaN  34.0459 -118.2545
2    200 E  6TH                          ST          NaN  34.0448 -118.2474
3   5400    CORTEEN                      PL          NaN  34.1685 -118.4019
4  14400    TITUS                        ST          NaN  34.2198 -118.4468

[5 rows x 28 columns]

Una vez importado lo almacenaremos en una base de datos SQL que nos proporciona una estructura organizada, manejo eficiente y confiable de los datos en aplicaciones y sistemas.

In [21]:
import pandas as pd
from sqlalchemy import create_engine

data = '../data/raw/crimedataorig.csv'
nombre_tabla = 'CRIMEDATA'
ruta_base_datos = '../data/raw/CRIMEDATA.db'
dataframe = pd.read_csv(data)
engine = create_engine(f'sqlite:///{ruta_base_datos}')
dataframe.to_sql(nombre_tabla, engine, index=False, if_exists='replace')

# Confirmar y cerrar la conexión
engine.dispose()

Realizamos una consulta Select , para selecionar las 5 primeras filas

In [22]:
import sqlite3

conexion = sqlite3.connect('../data/raw/CRIMEDATA.db')
cursor = conexion.cursor()

query_select = "SELECT * FROM CRIMEDATA LIMIT 5;"
cursor.execute(query_select)
resultados_select = cursor.fetchall()
print("Consulta SELECT:")
for resultado in resultados_select:
    print(resultado)

conexion.commit()
conexion.close()

Consulta SELECT:
(10304468, '01/08/2020 12:00:00 AM', '01/08/2020 12:00:00 AM', 2230, 3, 'Southwest', 377, 2, 624, 'BATTERY - SIMPLE ASSAULT', '0444 0913', 36, 'F', 'B', 501.0, 'SINGLE FAMILY DWELLING', 400.0, 'STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)', 'AO', 'Adult Other', 624.0, None, None, None, '1100 W  39TH                         PL', None, 34.0141, -118.2978)
(190101086, '01/02/2020 12:00:00 AM', '01/01/2020 12:00:00 AM', 330, 1, 'Central', 163, 2, 624, 'BATTERY - SIMPLE ASSAULT', '0416 1822 1414', 25, 'M', 'H', 102.0, 'SIDEWALK', 500.0, 'UNKNOWN WEAPON/OTHER WEAPON', 'IC', 'Invest Cont', 624.0, None, None, None, '700 S  HILL                         ST', None, 34.0459, -118.2545)
(200110444, '04/14/2020 12:00:00 AM', '02/13/2020 12:00:00 AM', 1200, 1, 'Central', 155, 2, 845, 'SEX OFFENDER REGISTRANT OUT OF COMPLIANCE', '1501', 0, 'X', 'X', 726.0, 'POLICE FACILITY', None, None, 'AA', 'Adult Arrest', 845.0, None, None, None, '200 E  6TH                          ST', None, 34.0448, -118.2474)
(191501505, '01/01/2020 12:00:00 AM', '01/01/2020 12:00:00 AM', 1730, 15, 'N Hollywood', 1543, 2, 745, 'VANDALISM - MISDEAMEANOR ($399 OR UNDER)', '0329 1402', 76, 'F', 'W', 502.0, 'MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)', None, None, 'IC', 'Invest Cont', 745.0, 998.0, None, None, '5400    CORTEEN                      PL', None, 34.1685, -118.4019)
(191921269, '01/01/2020 12:00:00 AM', '01/01/2020 12:00:00 AM', 415, 19, 'Mission', 1998, 2, 740, 'VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)', '0329', 31, 'X', 'X', 409.0, 'BEAUTY SUPPLY STORE', None, None, 'IC', 'Invest Cont', 740.0, None, None, None, '14400    TITUS                        ST', None, 34.2198, -118.4468)

En tercer lugar vamos a ver localizar posibles duplicados

In [23]:
print(dataframe.duplicated().sum())

0

En nuestro caso , no tenemos duplicados