In [3]:
import pandas as pd

train_data = pd.read_csv("../data/processed/clean_train.csv")
test_data = pd.read_csv("../data/processed/clean_test.csv")

train_data.head()

,Grave,Crm Cd,Vict Age,Vict Sex,Vict Descent,Premis Cd,Weapon Used Cd,Year,AREA
0,0.858552,-0.817149,-0.143759,0.696255,-0.337672,-0.973566,0.160203,0.381802,4
1,-1.164751,2.056210,-0.330314,0.696255,-0.864074,0.421051,1.688179,0.598934,20
2,0.858552,0.044858,-1.403003,-1.825291,-1.390475,-0.973566,0.160203,0.381802,10
3,0.858552,-0.912928,-0.423591,1.957028,0.188730,-0.468539,0.160203,0.598934,3
4,0.858552,-0.386145,0.182711,-0.564518,0.715131,-0.973566,0.160203,0.381802,8

In [4]:
X_train = train_data.drop(["AREA"], axis = 1)
y_train = train_data["AREA"]
X_test = test_data.drop(["AREA"], axis = 1)
y_test = test_data["AREA"]
X_test.head(5)

,Grave,Crm Cd,Vict Age,Vict Sex,Vict Descent,Premis Cd,Weapon Used Cd,Year
0,0.858552,0.044858,-1.403003,-1.825291,-1.390475,-0.973566,0.160203,-0.920993
1,0.858552,-0.386145,-1.403003,-1.825291,-1.390475,-0.973566,0.160203,0.816067
2,-1.164751,1.170257,0.928930,-0.564518,-0.864074,0.879746,0.160203,0.598934
3,-1.164751,1.146313,-0.983255,0.696255,0.715131,-0.973566,0.160203,-2.006655
4,0.858552,-0.386145,-1.403003,-1.825291,-1.390475,-0.973566,0.160203,0.816067

In [5]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators = 50, random_state = 5)
model.fit(X_train, y_train)

:

In [4]:
y_pred = model.predict(X_test)
y_pred

array([12, 15,  3, ..., 12, 12, 18])

In [5]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_pred)

0.19969160466870012